@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 1rem;
    align-items: center;
    background-image: linear-gradient(black,rgb(65, 65, 113),grey,rgb(207, 167, 48));
}

.card-container{
    background-color: rgb(31, 31, 32);
    color: white;
    padding: 2rem;
    width: 20rem;
    margin: 0.5rem;
    border-radius: 2rem;
}

.cart-top-navigation {
    display: flex;
    justify-content: space-between;
}

.cart-top-navigation li,
.cart-top-navigation ul {
    list-style: none;
    font-size: 1.2rem;
}

.cart-top-navigation ul i {
    margin-left: 10px;
}

.user-image{
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
}

.user-image img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20%;
    width: 100%;
  
}

.user-name,
.about-user {
    text-align: center;
    margin-top: 1.5rem;
}


.user-name {
    font-size: 1.4rem;
}

.hire-me {
    /* width: 8rem; */
    margin: 1.5rem auto;
    display: block;
    border: none;
    padding: .8rem 1.6rem;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
}

a{
    color:rgb(255, 255, 255);
    
    text-decoration: none;
    
    
}

.hire-me:hover {
    background: radial-gradient(circle at 100% 107%, #fdf497 0%, #fdf497 5%#fd5949 45%, #d6249f 60%, #285aeb 90%);
    

}
.social-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.social-item li {
    list-style: none;
    padding: 0.8rem;
    border-radius: 15%;
}

.instagram {
    background-color: black;
}

.youtube {
    background-color: #ff0000;
}

.linkedin {
    background-color: rgb(9, 9, 199);
}

.social-item i {
    font-size: 1.5rem;
}

.social-item span {
    margin-top: .5rem;
}
